@charset "utf-8";

.post-md
{
    width: 100%;
    font-size: 18px;
    letter-spacing: 0;
}

.post-md h1,
.post-md h2,
.post-md h3,
.post-md h4,
.post-md h5,
.post-md h6
{
    color: var(--font-color-2);
    margin: 12px 0;
}
.post-md h1
{
    font-size: 2rem;
    line-height: 1.2;
    padding: 12px 0;
}
.post-md h2
{
    font-size: 1.6rem;
    color: #34495e;
    line-height: 1.2;
    padding: 10px 0;
}
.post-md h3
{
    font-size: 1.4rem;
    color: #34495e;
    line-height: 1.2;
    padding: 9px 0;
}
.post-md h4
{
    font-size: 1.2rem;
    color: #34495e;
    line-height: 1.2;
    padding: 8px 0;
}
.post-md h5
{
    font-size: 1.15rem;
    color: #34495e;
    line-height: 1.2;
    padding: 7px 0;
}
.post-md h6
{
    font-size: 1.1rem;
    color: #34495e;
    line-height: 1.2;
    padding: 6px 0;
}
.post-md a
{
    color: var(--font-color-0);
    font-weight: bold;
    /* box-shadow: 0 1.5px 0 #de1267; */
    /* text-decoration: underline dotted; */
    transition: color ease-in-out .65s, box-shadow ease-in-out .65s;
}
.post-md a:hover
{
    color: var(--font-color-0);
    box-shadow: 0 2px 0 var(--font-color-0);
    transition: color ease-in-out .65s, box-shadow ease-in-out .65s;
}
.post-md strong
{
    font-weight: bold;
    margin: 0 2px;
    color: #c05b4d;
}
.post-md em
{
    font-style: italic;
}
.post-md kbd
{
    padding: 2px 4px;
    border-radius: 2px;
    background: #eee;
    border: 1px solid #ddd;
}
.post-md ol
{
    list-style: decimal;
    padding-left: 24px;
}
.post-md ul
{
    list-style: disc;
    margin-top: -10px;
    padding-left: 24px;
}
.post-md li::marker
{
    color: red;
}
.post-md img
{
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 5px;
    /*border: 1px solid #ebebeb;*/
}
.post-md hr
{
    border: none;
    height: 1px;
    background: var(--line-1);
    margin: 24px 0;
}

.post-md p,
.post-md blockquote
{
    width: 100%;
    margin-block-start: 0.5em;
    margin-block-end: 1.2em;
    -webkit-font-smoothing: antialiased;
}
.post-md blockquote
{
    margin: 1.2em 0;
    padding: 10px 20px;
    position: relative;
    color: #34495e;
    background-color: rgba(192, 91, 77, 0.075);
    border-left: 3px solid var(--font-color-0);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    word-wrap: break-word;
}

.post-md .video-container
{
    background: #000;
    border-radius: 4px;
    overflow: hidden;
}
.post-md iframe,
.post-md .video-container iframe
{
    width: 100%;
    height: 100vh;
    max-height: 360px;
    margin: 12px 0;
}

.post-md>table
{
    width: 100%;
    text-align: left;
    border-spacing: 0;
}
.post-md>table th
{
    padding: 12px 0;
    border-bottom: 2px solid var(--line-1);
}
.post-md>table tr:nth-child(odd) td
{
    padding: 12px 0;
    border-bottom: 1px solid var(--line-1);
    background: #fafafa;
}
.post-md>table tr:nth-child(even) td
{
    padding: 12px 0;
    border-bottom: 1px solid var(--line-1);
    background: #fff;
}

.post-md code
{
    font-size: 14px;
    padding: 1px 6px;
    background: #fafbfc;
    border: 1px solid hsla(213, 7%, 75%, .5);
    border-radius: 4px;
}

.post-md .hljs-ln-numbers
{
    opacity: .5;
    padding-right: 12px;
}
